a {
  text-decoration: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-grow: 1;
  margin-right: 16px;
  width: calc(33.33% - 48px);
}

.grid-item:nth-child(3n) {
  margin-right: 0;
}

.ViewTypeWrapper {
  display: flex;
  justify-content: end;
}

.ViewType {
  display: inline-block;
}

.ViewType:hover,
.card:hover {
  cursor: pointer;
}

.lazy-img {
  object-fit: cover;
}
